<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Movies</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="searchChanged($event)"></ion-searchbar>

  <ion-item>
    <ion-label>Select SearchType</ion-label>
    <ion-select [(ngModel)]="type" (ionChange)="searchChanged($event)">
      <ion-select-option value="">All</ion-select-option>
      <ion-select-option value="movie">Movie</ion-select-option>
      <ion-select-option value="series">Series</ion-select-option>
      <ion-select-option value="episode">Episode</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-list>
    <ion-item button *ngFor="let item of (results | async)" [routerLink]="['/', 'movies', item.imdbID]">
      <ion-thumbnail slot="start">
        <ion-img [src]="item.Poster" *ngIf="item.Poster != 'N/A'"></ion-img>
      </ion-thumbnail>
      <ion-label>
          <h2>{{ item.Title }}</h2>
          <p><ion-text color="danger">{{ item.Year }}</ion-text></p>
      </ion-label>
        <ion-icon *ngIf="item.Type == 'movie'" name="videocam" slot="end"></ion-icon>
        <ion-icon *ngIf="item.Type == 'series'" name="tv" slot="end"></ion-icon>
        <ion-icon *ngIf="item.Type == 'game'" name="logo-game-controller-b" slot="end"></ion-icon>
    </ion-item>
  </ion-list>

</ion-content>
